<form [formGroup]="form" (submit)="send()"  style="display: flex;flex-direction: column; width: 300px;">
  <input type="text" placeholder="Nombre" formControlName="firstname">
  <br>
  <input type="text" placeholder="Apellido" formControlName="lastname">
  <br>
  <ng-container formGroupName="password">
    <input type="text" placeholder="Contraseña" formControlName="password">
    <br>
    <input type="text"placeholder="Repita contraseña" formControlName="confirm">  
    <br>
  </ng-container>
  <button [disabled]="form.invalid">Enviar</button>
</form>